{% extends "base.html" %}

{% block title %} Topic Details {% endblock %}

{% block scripts %}
    <script src="/assets/custom/js/topic_details.js"></script>
    <script src="/assets/custom/js/comment_details.js"></script>
{% endblock %}

{% block content %}
    <!-- delete topic modal  -->
    {% include 'includes/delete_topic_modal.html' %}


    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header text-center" id="topic-main-title">{{ topic.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="bold">By</span> {{ topic.author_email }}
                    <span class="bold pull-right">Posted: {{ topic.created_at.strftime(slo_date) }}</span>
                </div>
                <div class="panel-body">
                    <div id="topic-content">
                        <p>
                        {{ topic.content }}
                    </p>
                    <p class="text-muted pull-right">
                        Last update: {{ topic.updated_at.strftime(slo_date) }}
                    </p>
                    </div>
                    <div id="edit-form" hidden>
                        {% include "includes/topic_edit_form.html" %}
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="/" role="button" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        Back
                    </a>
                    {% if user.email == topic.author_email or user.admin %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-target="#deleteTopicModal">
                          Delete
                        </button>
                        <button type="button" id="edit-button" class="btn btn-sm btn-warning pull-right">Edit</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if comments %}
        {% for comment in comments %}
            <!-- comment details modal -->
            {% include 'includes/edit_comment_modal.html' %}
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <span class="bold">{{ comment.author_email }}</span>
                            <span class="bold pull-right">{{ comment.created_at.strftime(slo_date) }}</span>
                        </div>
                        <div class="panel-body">
                            {{ comment.content }}
                        </div>
                        <div class="panel-footer">
                            {% if user.email == comment.author_email or user.admin %}
                                <button type="button" class="btn btn-primary btn-sm " data-toggle="modal" data-target="#commentDetailsModal{{ comment.key.id() }}">
                                  Details
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <!-- add new comment  -->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Add Comment
                </div>
                <div class="panel-body">
                    <form action="/topic/{{ topic.key.id() }}/new-comment" method="post">
                        <input type="hidden" value="{{ csrf_token }}" name="csrf_token">
                        <div class="form-group">
                            <textarea name="content" id="content" cols="30" rows="10" class="form-control">

                            </textarea>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button type="submit" class="btn btn-success">Add Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}