{%  extends "base.html" %}

{% block title %}Home{%endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-12 text-center">
        <h1 class="page-header">About Ninja Tech From!</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <a href="/" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-home"></span>
            Home
        </a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto assumenda cum debitis
                doloribus esse est, ipsum labore nam nisi obcaecati placeat quidem quis reiciendis repudiandae similique
                veritatis voluptates! Perspiciatis?</p>
            <p>Aperiam aut dolores doloribus est excepturi expedita facilis, fugiat inventore iusto labore minus nisi
                nobis provident quos temporibus? Dolorum earum fuga minus molestias pariatur quisquam tenetur ullam?
                Alias, consequatur, harum!</p>
            <p>Amet blanditiis consequuntur deleniti, dolores ducimus, ea minus nam nisi nobis nostrum officia placeat
                praesentium quae quas rem, repellat voluptates. Excepturi exercitationem illum maxime modi neque, non
                obcaecati odio tempora.</p>
            <p>Blanditiis dignissimos distinctio impedit ipsam maxime minima, nulla repellat tenetur vitae.
                Exercitationem in minus odio quas repellat rerum sint vitae. Dicta eum maiores minima necessitatibus
                obcaecati reiciendis soluta, sunt tempora?</p>
        </div>
    </div>
</div>
{%  endblock %}
