{%  extends "base.html" %}

{% block title %}Home{%endblock%}

{% block content %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="jumbotron">
                <h1 class="page-header">Ninja Tech Forum</h1>
                <p class="lead">Welcome on our small tech forum. Coming soon </p>
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'includes/topics_list.html' %}
        <div class="col-sm-4">
            <div class="well">
                <h3>Subscribe to new topics </h3>
                <form action="/subscribe/new-topics" method="post" class="form-horizontal">

                    <input type="email" required name="email" id="email" placeholder="enter your email" class="form-control">
                    <button type="submit" class="btn btn-success">OK</button>

                </form>
            </div>
        </div>

    </div>

{%  endblock %}
