{% extends "base.html" %}

{% block title %}My Profile{% endblock %}

{% block scripts %}
    <script src="/assets/custom/js/comment_details.js"></script>
{% endblock %}

{% block content %}

    <div class="row">
        <!-- main title  -->
        <div class="col-sm-12">
            <h1 class="page-header text-center">{{ user.nickname }} - User Profile</h1>
        </div>
    </div>
    <!-- content -->
    <div class="row">
        <!-- left column user info and admin nav -->
        <div class="col-sm-4">
            {% include "includes/users/user_info.html" %}
            {% if user.admin %}
                <h3>Admin Tools </h3>
                {% include "includes/users/admin_tools.html" %}
            {% endif %}
        </div>
        <div class="col-sm-8">
            <!-- user topics and user comments  -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          My Topics
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <h3>My topics</h3>
        <br>
        {% if topics %}
            {% include "includes/users/user_topics_list.html" %}
        {% else %}
            <div class="alert alert-info">
                <span class="glyphicon glyphicon-info-sign"></span>
                You did not create any topic so far go ahead and create a new topic
            </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          My Comments
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <h3>My Comments</h3>
        <br>
        {% include "includes/users/user_comments_list.html" %}
      </div>
    </div>
  </div>
  </div>
</div>
    </div>

{% endblock %}